BSvsZP-GameRegistry/GameRegistryTest/Service References/GameRegistry/Registrar1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Common" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EndPoint">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DistributableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" type="xs:int" />
          <xs:element minOccurs="0" name="Port" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EndPoint" nillable="true" type="tns:EndPoint" />
  <xs:complexType name="DistributableObject">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="DistributableObject" nillable="true" type="tns:DistributableObject" />
  <xs:complexType name="GameInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ComponentInfo">
        <xs:sequence>
          <xs:element minOccurs="0" name="AliveTimestamp" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Status" type="tns:GameInfo.GameStatus" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GameInfo" nillable="true" type="tns:GameInfo" />
  <xs:complexType name="ComponentInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:DistributableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CommmunicationEndPoint" nillable="true" type="tns:EndPoint" />
          <xs:element minOccurs="0" name="Id" type="xs:short" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ComponentInfo" nillable="true" type="tns:ComponentInfo" />
  <xs:simpleType name="GameInfo.GameStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NOT_INITIAlIZED" />
      <xs:enumeration value="AVAILABLE" />
      <xs:enumeration value="RUNNING" />
      <xs:enumeration value="COMPLETED" />
      <xs:enumeration value="DEAD" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="GameInfo.GameStatus" nillable="true" type="tns:GameInfo.GameStatus" />
  <xs:complexType name="ArrayOfGameInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameInfo" nillable="true" type="tns:GameInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameInfo" nillable="true" type="tns:ArrayOfGameInfo" />
</xs:schema>